@page
@model EmailModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Change Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}




<div class="card">
    <div class="card-header text-center py-3"><h3>@ViewData["Title"]</h3></div>
    <div class="card-body py-5">
        <partial name="_StatusMessage" for="StatusMessage" />
        <div class="row  justify-content-center">
            <div class="col-md-6">
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="form-floating mb-4">
                            <label asp-for="Email" class="form-label"></label>
                            <div class="d-flex">
                                <input asp-for="Email" class="form-control" disabled />
                                <div class="input-group-append">
                                    <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-floating">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" disabled />
                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="w-100 btn btn-lg btn-link js-indicator">
                                <span class="input-btn-form-submit" style="color: unset;">Send verification email</span>
                                <span class="spinner-border-sm js-indicator-spinner" role="status" aria-hidden="true"></span>
                            </button>
                        </div>
                    }
                    <div class="form-floating mb-3">
                        <label asp-for="Input.NewEmail" class="form-label"></label>
                        <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" value=""/>
                        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                    </div>
                    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary js-indicator">
                        <span class="input-btn-form-submit" style="color: unset;">Change email</span>
                        <span class="spinner-border-sm js-indicator-spinner" role="status" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
