<div class="modal-footer justify-content-between px-0 pt-3">
    <button type="button" class="btn btn-default py-2 px-3" data-dismiss="modal">Close</button>
    <button class="btn btn-primary py-2 px-3 js-indicator" type="submit">
        <span class="input-btn-form-submit">Save</span>
        <span class="spinner-border-sm js-indicator-spinner" role="status" aria-hidden="true"></span>
    </button>
</div>