@model ErrorViewModel
@inject IWebHostEnvironment _webHostEnvironment;
@{
    ViewData["Title"] = "Error";

    var imageExists = File.Exists($"{_webHostEnvironment.WebRootPath}/assets/images/errors/{Model.ErrorCode}.png");

    var imagePath = $"/assets/images/errors/{(imageExists ? Model.ErrorCode : "general")}";

}

<div class="row justify-content-center">
    <div class="card text-center col-md-5 col-sm-10 mt-3 py-5">
        <div class="card-body">
            <h1 class="mb-2" style="font-weight: bold;">@Model.ErrorDescription</h1>
            <div class="mb-5 text-secondary">An error occurred, please try again later.</div>
            <div class="mb-5">
                <img id="Image" src="@($"{imagePath}.png")" class="w-50" alt="ErrorImage">
            </div>
            <div class="mb-0">
                <a href="/" class="btn btn btn-primary">Return Home</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var html = document.documentElement;
        if (html.classList.contains("dark-mode")) {
            arr = document.querySelector("#Image").src.split('.');
            document.querySelector("#Image").src = `${arr[0]}-dark.${arr[1]}`;
        }
        else {
            arr = document.querySelector("#Image").src.split('-dark');
            (arr[1] == undefined) ? document.querySelector("#Image").src = arr[0] : document.querySelector("#Image").src = `${arr[0]}${arr[1]}`;
        }
    </script>
}