@model UserResetPasswordFormViewModel

<form asp-action="ResetPassword" data-ajax="true" data-ajax-method="post" data-ajax-success="onModalSuccess" data-ajax-failure="showErrorMessage" data-ajax-begin="onModalBegin" data-ajax-complete="onModalComplete">
    <div class="card-body pb-2 pl-0 pr-1">
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
             <div class="mb-3">
                <input type="password" class="form-control css-auto-fill" placeholder="Password" asp-for="Password" style="height: 50px; letter-spacing: 2px;">
                <span asp-validation-for="Password" class="text-danger d-block"></span>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control css-auto-fill" placeholder="Confirm Password" asp-for="ConfirmPassword" style="height: 50px; letter-spacing: 2px;">
                <span asp-validation-for="ConfirmPassword" class="text-danger d-block"></span>
            </div>
        </div>
    </div>
    <partial name="_ModalFooter" />
</form>